.characterImage{
  width: 60px;
  height: 60px;
}

.modalLink{
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.modalLink:hover{
  color: black;
}

.optButton{
  color: black;
  font-weight: bold;
  text-align: left;
}

.loadMoreButton{
  background-color: #292b2c;
  color: white;
  margin: 1.25rem auto;
  width: 12rem;
  height: 3.5rem;
  padding: 0 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
  font-size: 1.2rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loadMoreButton:hover{
  background-color: #f7f7f7;
  color: #292b2c;
}
/* go top button */
.top{
  position: fixed;
  padding: 15px 15px;
  background-color: #292b2c;
  right: 10px;
  bottom: 50px;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  margin-right: 2.5rem;
  transition: 0.4s;
}

.top:hover{
  background-color: #f7f7f7;
  color: #292b2c;
}