.sideBar{
  width: 500px;
  height: 300px;
  background-color: aquamarine;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sideBarText{
  font-size: 1rem;
  font-weight: bold;
}