.nav-option{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-right: 2rem;

  transition: 0.2s;
}

.nav-option:hover{
  filter: brightness(0.5);
}

.nav-option-img{
  margin-left: 5px;
  margin-bottom: 4px;
}

.navbar-link-custom{
  text-decoration: none;
}